body {
    font-family: 'Dosis';
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

a {
    color: #0852ff;
    text-decoration: underline;
}

.name {
    font-family: 'Lobster';
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.wordleText {
    font-family: 'Dosis';
    font-size: 40px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutName {
    font-family: 'Lobster';
    font-size: 45px;
    margin-bottom: 50px;
}

.action {
    font-size: 30px;
    font-family: 'Lobster';
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.red {
    color: #e60808;
}

.orange {
    color: #ff9108;
}

.yellow {
    color: #ffef08;
}

.green {
    color: #0a8528;
}

.blue {
    color: #0852ff;
}

.color {
    color: #0a7081;
    font-weight: bolder;
}

.topbar {
    background-color: black;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.aboutText {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border-radius: 15px;
    width: 70%;
    height: 88%;
    text-align: center;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.accifText {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.accifImage {
    margin-left: 27%;
    border-radius: 15px;
    height: 400px;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4% 10%;
    background-image: conic-gradient(at 30% 50%, #0852ff, #0a8528, #ffef08, #ff9108, #e60808, #0852ff);
}

.accifContainer {
    padding: 4% 10%;
    background-image: conic-gradient(at 32.5% 55%, #e60808, #0852ff, #0a8528, #ffef08, #ff9108, #e60808);
}

.accifRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
}

.aboutImage {
    width: 80%;
    height: 100%;
    margin-left: 27%;
    border-radius: 15px;
}

.bold {
    font-weight: bolder;
    font-size: 17.5px;
}

.bottomBar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

.sourcesContainer {
    background-image: conic-gradient(#ffef08, #ff9108, #e60808, #0862ff, #0a8528, #ffef08);
    margin: 0;
    padding: 4% 10%;
    font-size: 14px;
}

.source {
    color: #0862ff;
}

.timelineContainer {
    background-image: conic-gradient(at 50% 47%, #e60808, #0862ff, #0a8528, #ffef08, #ff9108, #e60808);
    padding: 4% 10%;

}

.triviaContainer {
    background-image: conic-gradient(at 50% 46%, #0a8528, #ffef08, #ff9108, #e60808, #0862ff, #0a8528);
    padding: 4% 10%;
}

.wordleContainer {
    background-image: conic-gradient(at 50% 46%, #ff9108, #e60808, #0862ff, #0a8528, #ffef08, #ff9108);
    padding: 4% 10%;
    text-align: center;
}

.sourcesText {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 60%;
    height: 405px;
    text-align: center;
    background-color: black;
}

.wordleBox {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 60%;
    text-align: center;
    background-color: black;
}

.timelineBox {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 25%;
    height: 160px;
    text-align: center;
    background-color: black;

}

li {
    list-style: none;
}

.vl {
    border-left: 5px solid black;
    border-right: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 300px;
}

.middle {
    margin-top: auto;
    margin-bottom: auto;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.triviaBox {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    height: 200px;
    margin: 30px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

button {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: black;
    height: 50px;
    width: 200px;
    margin: 7.5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dosis';
    cursor: pointer;
    border: none;
}

input {
    height: 47.5px;
    width: 175px;
    margin: 7.5px;
    border-radius: 15px;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    text-align: center;
    font-family: 'Dosis';
}

.bGreen {
    background-image: conic-gradient(#0a8528, #0a7081, #0a8528);
    color: white;
}

.bRed {
    background-image: conic-gradient(#e60808, #ff69b4, #e60808);
    color: white;
}

.wordleEmpty {
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 40px;
    height: 60px;
    border-radius: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

.wordleWrong {
    background-color: black;
    border: 1px solid gray;
    width: 40px;
    height: 60px;
    border-radius: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

.wordleYellow {
    background-image: conic-gradient(#ffef08, #ff9108, #ffef08);
    color: black;
    border: 1px solid white;
    width: 40px;
    height: 60px;
    border-radius: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}
.wordleGreen {
    background-image: conic-gradient(#0a7081, #0a8528, #0a7081);;
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 60px;
    border-radius: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

.wordleRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    border-radius: 15px;
}