body {
    font-family: 'Dosis';
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

a {
    color: #0852ff;
    text-decoration: underline;
}

.name {
    font-family: 'Lobster';
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutName {
    font-family: 'Lobster';
    font-size: 45px;
    margin-bottom: 50px;
}

.action {
    font-size: 30px;
    font-family: 'Lobster';
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.red {
    color: #e60808;
}

.orange {
    color: #ff9108;
}

.yellow {
    color: #ffef08;
}

.green {
    color: #0a8528;
}

.blue {
    color: #0852ff;
}

.color {
    color: #0a7081;
    font-weight: bolder;
}

.topbar {
    background-color: black;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.aboutText {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border-radius: 15px;
    width: 70%;
    height: 88%;
    text-align: center;
    background-color: black;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;    
    background-image: conic-gradient(at 30% 50%, #0852ff, #0a8528, #ffef08, #ff9108, #e60808, #0852ff);
    padding-bottom: 4%;
}

.aboutImage {
    width: 80%;
    height: 100%;
    margin-left: 27%;
    border-radius: 15px;
}

.bold {
    font-weight: bolder;
    font-size: 17.5px;
}

.bottomBar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

.sourcesContainer {
    background-image: conic-gradient(#ffef08, #ff9108, #e60808, #0862ff, #0a8528, #ffef08);
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.timelineContainer {
    background-image: conic-gradient(at 50% 46%, #e60808, #0862ff, #0a8528, #ffef08, #ff9108, #e60808);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.sourcesText {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 60%;
    height: 405px;
    text-align: center;
    background-color: black;
}

.timelineBox {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 25%;
    height: 135px;
    text-align: center;
    background-color: black;

}

li {
    list-style: none;
}

.vl {
    border-left: 5px solid black;
    border-right: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 300px;
}

.middle {
    margin-top: auto;
    margin-bottom: auto;
}